<footer class="footer">
    <div>
{% if page.latex %}
        <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
        <script type="text/javascript" async src="https://raw.githubusercontent.com/johan/js-deflate/master/rawdeflate.js"></script>
{% endif %}
{% if page.mermaid %}
        <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
        <script>
        var config = {
            startOnLoad:true,
            theme: 'dark',
            flowchart:{
                useMaxWidth:true,
                htmlLabels:true,
                curve:'curve'
            },
            classDiagram:{
                curve:'linear',
            },
        };
        mermaid.initialize(config);
        mermaid.init(undefined, '.language-mermaid');
        </script>
{% endif %}
    </div>
</footer>